* {
    font-family: sans-serif;
    
}

.title {
    position: relative;
    display: block;
    color: white;
    top: 130px;
    font-size: 100px;
    left:0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    position: relative;
    padding: 35px;
    border: none;
    background: rgb(233, 244, 118);
    top: 90px;
    border-radius: 20px;
    font-size: 20px;
    margin: 50px;
    left: 5%;
}

.button:hover {
    cursor: pointer;
}

.image {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.txt {
    position: relative;
    color: white;
    top: 120px;
    font-size: 40px;
    left: 120px;
}